/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0px;
  padding: 0px;
}

.section-header {
  background-image: url('../public/img/computer-g.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.section-header {
  height: 100vh;
}

.work {
  background-color: #ffffff;
  color: #fa8128;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.work h2 {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 7px;
  margin-top: 10px;
}

.work h2:hover {
  border-bottom: 3px solid #fa8128;
  cursor: pointer;
}

.color-codes {
  color: #404040;
  color: #1d1d1d;
  color: #ffffff;
  color: #fa8128;
}

.App-header h1 {
  font-size: 70px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   
}

.parent-work {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid bisque;
  border-radius: 9px;
}

.image-work {
  height: 25vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.work-description {
  background-color: rgba(250, 129, 40, 0.9);
  border-radius: 0px 0px 8px 8px;
  padding: 20px;
  text-align: justify;
  /* height: 50%; */
}

.work-description h4{
  text-align: center;
  padding: 8px;
  font-weight: 800;
  margin: 4px auto;
}

.work-description hr {
  width: 150px;
  background-color: #ffffff;
  height: 1px;
  margin: 10px auto;
}

.parent-work:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
  rgba(0, 0, 0, 0.09) 0px 4px 2px, 
  rgba(0, 0, 0, 0.09) 0px 8px 4px, 
  rgba(0, 0, 0, 0.09) 0px 16px 8px, 
  rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.child-work {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* start new layout */
@media screen and (max-width: 768px) {
  body {
    background-color: aliceblue;
  }

  .App-header {
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fa8128;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .motto {
    /* display: flex; */
    margin-top: 20px;
  }

.search {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputSearch {
  height: 30px;
  border: 0px;
  border-radius: 6px;
  width: 50%;
  padding: 4px;
  font-size: 17px;
  background-color: rgba(250, 129, 40, 0.6);
  color: #ffffff;
}

.btnSearch {
  height: 35px;
  padding: 4px 15px;
  border-radius: 6px;
  border: 0px;
  font-size: 17px;
  background-color: #1d1d1d;
  color: #fa8128;
  font-weight: 800;
}

.work {
  flex-direction: column;
  gap: 20px;
}

.parent-work {
  /* padding: 10px; */
  color: #1d1d1d;
  width: 70%;
  text-align: center;
}

.parent-work:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
  rgba(0, 0, 0, 0.09) 0px 4px 2px, 
  rgba(0, 0, 0, 0.09) 0px 8px 4px, 
  rgba(0, 0, 0, 0.09) 0px 16px 8px, 
  rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.picha {
  width: 50px;
  height: 60px;
}
}

/*partners*/
.partners {
  background-image: url('../public/img/skyline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: center;
  /* padding: 20px; */
  margin-top: 10px;
}

.project-description h5{
  font-size: 30px;
  color: #fa8128;
}

.partner-logo {
  border: 2px solid;
  width: 100%;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .partners {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap: 30px; */
  }

  .project-description {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 129, 40, 0.7);
    border-radius: 10px;
    gap: 20px;
  }

  .project-description h5{
    color: #ffffff;
  }
}