/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0px;
  padding: 0px;
}

.App {
  background-image: url('../public/img/computer-g.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.color-codes {
  color: #404040;
  color: #1d1d1d;
  color: #ffffff;
  color: #fa8128;
}
.App-header h1 {
  font-size: 70px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   
}
/* start new layout */
@media screen and (max-width: 768px) {
  body {
    background-color: aliceblue;
  }

  .App-header {
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fa8128;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .motto {
    /* display: flex; */
    margin-top: 20px;
  }

.search {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid; 
}

.inputSearch {
  height: 30px;
  border: 0px;
  border-radius: 6px;
  width: 50%;
  padding: 4px;
  font-size: 17px;
  background-color: rgba(250, 129, 40, 0.6);
  color: #ffffff;
}

.btnSearch {
  height: 35px;
  padding: 4px 15px;
  border-radius: 6px;
  border: 0px;
  font-size: 17px;
  background-color: #1d1d1d;
  color: #fa8128;
  font-weight: 800;
}
}